---
layout: default
---

<div class="home">

<h2><a href="{{ site.baseurl }}/recipe/2015/07/10/contents.html">Contents</a></h2>

{% for tag in site.tags %}
<div class="catbloc" id="{{ tag | first | remove:' ' }}">
  <br/>
  <h2>{{ tag | first }}</h2>
  {% for posts in tag %}
    {% for post in posts reversed %}
      {% if post.url %}
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
{% endfor %}

</div>
